body{
    background-color: white;
    font-family:  'Poppins', sans-serif;
margin:0;
}

/* -----------------------------
   Influencer products 
--------------------------------*/

.fist-header{
    margin-left:7em;
}

.influecers-journey{
        display: flex;
    }
        
        
        .influecers-journey-part1{
            width: 50%;
            margin-top:4em;
            padding-left: 8em;
        }
        .influecers-journey-part1 h1{
            font-weight:bolder;
            
        }
        .influecers-journey-part1 img{
            width: 60%;
            padding-left: 5em;
        }
        .batton{
            background-color:rgba(224, 44, 109, 1);
            text-decoration: none;
            border-radius: 25px;
            color:white;
            padding: 10px;
            margin-top: 10px;
        }
        .batton:hover{
            background-color:rgba(224, 44, 110, 0.637); 
            color: rgb(4, 241, 230);
        }


        
        

        /* ----------------------------------
        popular-collection section 
        --------------------------------------*/


        .section-title{
            text-align: center;
        }

     .popular-collections .influencer-collection img{
            height: 256px;
            width: 300px;

        }
        .popular-collections .influencer-collection {
         
            width: 50%;

        }
        .fa-star{
            font-size: 16px;
        }

        .fa-star.filled {
            color:orange;
        }
        .fa-star.empty{
            color: rgb(199, 247, 247);
        }

        .container{
            margin-top: 5em;
        }
     
        .sub-container{
            
            display: grid;
            grid-template-columns:repeat(3,1fr);
            grid-column-gap: 0%;
            grid-row-gap: 0em;
            margin-left: 7em;
            padding-left:8em;
            padding-right:8em;
            
    
        }
        .popular-collections{
            margin-top: 4em;
            width: 78%;
            padding: 1em;
            box-shadow: 5px 10px 18px #88888899;
            border-radius: 2px;
        }
        .influencer-product-info{
            padding-left: 1em;
        }

        .batton1{
            color: rgba(224, 44, 109, 1);
            text-align: right;
            text-decoration: none;
            margin-right: 88px;
            margin-top: 30px;
        }
            
        /* --------------------------
         Bounus section strat  
         -----------------------------*/
         .bounus-section{
             width: 50%;
             margin-left: 25%;
             box-shadow: 5px 10px 18px #88888899;
         }
         .bounus-sub-section h1{
             text-align: center;
         } 
         .bounus-sub-section img{
             width: 50%;
             padding-left: 11.5em;
         }
         .bounus-sub-section h2{
             text-align: center;
         }
         .bounus-sub-section hr{
             color: rgb(0, 0, 0);
         }
         .form1{
             text-align: center;
             background-color:rgba(0, 255, 255, 0.055);
             box-shadow: 5px 10px 18px #88888899;
         }
         .input-box{
            margin: 11px;
            padding: 12px;
            border-radius: 13px;
            background-color: #c0f8ffd0;
            box-shadow: 5px 10px 18px #88888899;
         }
         .input-box2{
            margin: 10px;
            padding: 6px;
            border-radius: 25px;
            background-color: #c0fff6;
         }
         .footer-section{
             background-color: rgba(10, 8, 38, 1);
             color: whitesmoke;
             text-align: center;
             margin-top: 5em;
         }
         .icon{
             margin-left: 3em
         }


  /*----------------------------
   media queries for mobile  
   --------------------------------*/



         @media all and (max-width: 688px) {
             .fist-header{
                 margin-left: 10em;
             }
            .influecers-journey{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                padding-left: 20%
            }
             .influecers-journey-part1 img{
                width: 37em;
                margin-top: 7em;
                padding-left:0;
             }
             .section-title{
                 margin-left: 15em;
             }
             .sub-container{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                width: 24em;
                margin-top: 4em;
                padding-left: 12em;
             }
              .batton1{
                  margin-right: 20%;
                  margin-top: 10%;
              }
             
             .bounus-section{
                width: 100%;
                margin-left: 55%;
                margin-top: 5em;
             }
             .bounus-sub-section img{
                 padding-left: 25%;
             }
             .footer-section{
                background-color: rgba(10, 8, 38, 1);
                color: whitesmoke;
                text-align: center;
                
                width:200%;
                
             
         }
         
        }
        

        /*----------------------------------
         media queries for tab
         --------------------------------- */



         @media all and (min-width: 688px) and (max-width: 992px){

            .fist-header{
                margin-left: 50%;
            }
            .influecers-journey{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                padding-left: 20%
            }
            .influecers-journey-part1 img{
                width: 37em;
                margin-top: 7em;
                padding-left:0;
             }
             .section-title{
                margin-left: 15em;
            }
            .popular-collections{
         
                width: 86%;
            }
            .sub-container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                width: 24em;
                margin-top: 4em;
                
             }
             .bounus-section{
                width: 50%;
                margin-left: 35%;
                margin-top: 5em;
             }
             .bounus-sub-section img{
                 padding-left: 25%;
             }
             .footer-section{
                background-color: rgba(10, 8, 38, 1);
                color: whitesmoke;
                text-align: center;
                
                width:200%;
         }